@import url("https://fonts.googleapis.com/css?family=Lora");
* {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
  box-sizing: border-box;
}
html {
  background-color: #323232;
  color: #cdcdcd;
  font-size: calc(16px + 6 * ((20vw - 320px) / 680));
}
.width {
  max-width: calc(40vw);
  margin: 2px;
}
.list {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  transform: translate(40vw);
}
.remove {
  background-color: rgb(46, 138, 66); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
button {
  cursor: pointer;
}
input,
textarea,
#submitting {
  outline: 0;
  box-shadow: 1px 2px #afadad;
  background-color: #323232;
  min-width: 40vw;
  color: #cdcdcd;
}

form label {
  font-weight: bold;
  margin: 3px;
}

input:valid,
textarea:valid {
  border: 1px solid rgb(99, 145, 68);
  box-shadow: 1px 2px rgb(99, 145, 68);
}
input:valid,
textarea:invalid {
  border: 1px solid rgb(148, 63, 63);
  box-shadow: 2px 4px rgb(148, 63, 63);
}
input:valid {
  border: 1px solid rgb(99, 145, 68);
  box-shadow: 1px 2px rgb(99, 145, 68);
}
input:invalid {
  border: 1px solid rgb(148, 63, 63);
  box-shadow: 2px 4px rgb(148, 63, 63);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
article {
  margin: 4px;
  text-align: center;
  outline: 1px solid #cdcdcd;
  min-height: 200px;
}
#submitting {
  background-color: #cdcdcd;
  border: none;
  color: #323232;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin: 4px 2px;
}
